name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build step
        run: echo "Building..."

      - name: Test step
        run: echo "Testing..."

      - name: Deploy step
        run: echo "Deploying..."

